/* IMPORTED FONTS */ 

@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS RESET */ 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */ 

:root{
	--pink: #E8A3AC;
	--white: #FFFFFF; 
	--black: #000000; 
	--light-pink: #FEF3F5; 
    --red: #DA3A51; 
}

/* GLOBAL STYLES */ 
body{
	max-width: 1280px;
	margin: auto; 
	background-color: var(--light-pink); 
	color: var(--white); 
	font-family: "Inter", sans-serif; 
}

h1{
    font-family: "Chewy", system-ui;
    font-size: 4em;
    position: absolute;
    top: 40%;
    z-index: 10000;
    color: var(--light-pink);
    text-align: center;
    background: transparent;
    box-sizing: border-box;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
h2{
	font-family: "Chewy", system-ui;
	font-size: 3em;
    text-transform: lowercase;
	color: var(--red);
    margin-bottom: 40px;
    letter-spacing: 1.5px; 
}

h3{
    font-size: 20px; 
    font-weight: bold; 
    margin-bottom: 20px; 
}

p{
    line-height: 1.75em;
    font-family: "Inter", sans-serif;
}
li{
    line-height: 1.2em; 
    margin-bottom: 5px;
}

section{
    	margin: 64px auto;  
}
header, footer{
	background-color: var(--pink); 
	display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 10px;
}
#logo {
    width: 200px; 
    height: auto; 
    align-content: center;
}
#logo img{
    width: inherit;
    margin-left: 10px;
}
.icon{
    width: 32px;
    height: 32px; 
}
nav{
	width: 50%; 
	margin-left: 10px;
}
nav ul{
	padding: 30px;
	align-content: center;
	display: flex; 
	justify-content: space-between; 
}
nav a, footer a{
	text-decoration: none; 
	color: var(--white); 
	font-family: "Inter", sans-serif; 
    font-size: 20px;
    text-transform: lowercase;

}
#cart{
    align-content: center;
    margin-right: 16px;
}


#main-img{
    object-fit: contain;
    position: relative; 
    overflow: hidden; 
    max-height: 60vh;  
}
#main-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  background-color: rgba(232, 163, 172, 0.4); 
  z-index: 1; 
}
#main-img img {
   max-width: 100%;
   height: auto;
}

#about{
    background-color: var(--red); 
}
#about h2{
    width: 32%; 
    padding: 64px 0; 
    color: var(--light-pink); 
    margin: auto;
}
#about p{
    width: 32%; 
    color: var(--light-pink); 
    padding-bottom: 64px;
    font-size: 1.3em;
    text-align: left; 
    margin: auto;
}
#about strong {
    font-size: 1.4em; 
    font-family: "Chewy", system-ui; 
    text-align: right;
}

#products img{
    max-width: 300px; 
    margin-bottom: 10px; 
}
#contact{
	background-color: var(--white); 
    text-align: center;
    padding: 20px;
    margin: auto;
}
#contact-form{
	margin: auto; 
    width:60%; 
	padding: 20px;
	display: flex; 
	flex-wrap: wrap; 
    justify-content: center; 
}

label{
	font-family: "Inter", sans-serif;
	margin: 5px;
	color: var(--red); 
    width: 20%; 
    font-size: 20px; 
    align-self: center;	
}
input, textarea{
	padding: 20px; 
	width: 50%; 
	border: 4px solid var(--pink); 
	border-radius: 10px; 
	margin: 10px; 
}

#contact-button{
    width: 25%; 
    padding: 10px;
    font-size: 16px; 
    font-family: "Chewy", system-ui;
    font-weight: bold;
    margin: 10px 96px 10px auto; 
}
#faq h3{
	font-weight: bold; 
	font-size: 18px; 
	padding: 5px; 
	margin: 10px;
}

#faq strong{ 
	color: var(--red); 
	font-weight: bold;
}


.footer-section{
    display: flex; 
    margin: 20px auto;
    width: 100%; 
    justify-content: space-evenly;
    align-items: center;
    
}

footer p{
    display: block; 
    width: 100%; 
    text-align: center;
}
.footer-section ul{
    display: flex; 
    justify-content: space-evenly;
    width: 50%; 
}